name: test

on:
    workflow_dispatch:
        inputs:
            test:
                description: 'options'
                required: false

jobs:
    test:
      name: test job
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: ./.github/actions/slack-publish
          with:
            slack_token: ${{ secrets.SLACK_TOKEN }}
