name: test

on:
    workflow_dispatch:
        inputs:
            test:
                description: 'options'
                required: false

jobs:
    test:
      name: test job
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: ./.github/actions/slack-publish
          with:
            slack_token: ${{ secrets.SLACK_TOKEN }}
            slack_channel: "bot"
            
#         - name: Notify slack
#           env:
#             SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
#           uses: pullreminders/slack-action@master
#           with:
#             args: '{\"channel\":\"bot\",\"text\":\"Hello world\"}'
